.wrapper-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    width: 65rem;
    margin-top: 2rem;
    border: 1px solid gray;
}
.card-item-first {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20rem;
    width: 25%;
    padding: .5rem 0 1rem 1.2rem;
    background: rgb(153,120,203);
    background: linear-gradient(90deg, rgba(153,120,203,1) 0%, rgba(0,228,180,1) 100%);
}
.card-item-second {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 20rem;
    width: 70%;
    padding: .5rem 0 1rem 1.2rem;
}
.card-item-header {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: dimgray;
    padding-top: 10px;
    padding-bottom: 30px;
}
.card-item-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid gray;
    margin-top: 10px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
}
#user-photo {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
}
.data-type {
    display: flex;
    width: 6rem;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
    padding-left: 10px;
    padding-right: 10px;
}
.icon {
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.sharpened {
    position: relative;
    width: 20px;
    min-height: 40px;
    background: gray;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 50%, 50% 0);
}
.inside {
    position: absolute;
    top: 0;
    left: 0;
    right: 1px;
    bottom: 0;
    background: white;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 50%, 50% 0);
}
#fetched-name, #fetched-surname, #fetched-date, #fetched-location {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: dimgray;
    padding-left: 20px;
}